@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Martel Sans', sans-serif;
    font-size: 40px;
    transition: all 2s ease-in-out;
}

body {
    background: radial-gradient(circle, rgba(106,106,106,1) 0%, rgb(151, 151, 151) 45%, rgba(256,256,256,1) 100%);
}

input {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 45%, rgba(106,106,106,1) 100%);
    border: none;
    outline: none;
    text-align: center;
    cursor: default;
    caret-color: transparent;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
body.loaded input {
    opacity: 1;
}

input::placeholder {
    color: black;
    /* color: white; */
    transition: color 2s ease-in-out 1s;
}
body.loaded input::placeholder {
    color: white;
}

input:invalid{
    box-shadow: none;
    border-color: none;
}

input:invalid:focus {
    outline: none;
}