#menu-table {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#menu-table *{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

caption {
    font-weight: bold;
    margin-top: 20px;
    border: none !important;
}

th {
    font-size: 20px;
}

tr td:first-child {
    font-size: 20px;
}

#week {
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#week:hover {
    text-decoration: underline;
}

#week:focus {
    outline: none;
}